@layer base {
  :root {
    --background: 244 27% 12%;
    --foreground: 244 16% 82%;
    --muted: 244 12% 16%;
    --muted-foreground: 244 12% 66%;
    --popover: 244 27% 9%;
    --popover-foreground: 244 16% 92%;
    --card: 244 27% 10%;
    --card-foreground: 244 16% 87%;
    --border: 244 17% 17%;
    --input: 244 17% 20%;
    --primary: 270 84% 66%;
    --primary-foreground: 0 0% 0%;
    --secondary: 270 30% 25%;
    --secondary-foreground: 270 30% 85%;
    --accent: 244 27% 27%;
    --accent-foreground: 244 27% 87%;
    --destructive: 3 92% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 84% 66%;
    --chart-1: 270 84% 66%;
    --chart-2: 270 30% 25%;
    --chart-3: 244 27% 27%;
    --chart-4: 270 30% 28%;
    --chart-5: 270 87% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 244 27% 12%;
    --foreground: 244 16% 82%;
    --muted: 244 12% 16%;
    --muted-foreground: 244 12% 66%;
    --popover: 244 27% 9%;
    --popover-foreground: 244 16% 92%;
    --card: 244 27% 10%;
    --card-foreground: 244 16% 87%;
    --border: 244 17% 17%;
    --input: 244 17% 20%;
    --primary: 270 84% 66%;
    --primary-foreground: 0 0% 0%;
    --secondary: 270 30% 25%;
    --secondary-foreground: 270 30% 85%;
    --accent: 244 27% 27%;
    --accent-foreground: 244 27% 87%;
    --destructive: 3 92% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 84% 66%;
    --chart-1: 270 84% 66%;
    --chart-2: 270 30% 25%;
    --chart-3: 244 27% 27%;
    --chart-4: 270 30% 28%;
    --chart-5: 270 87% 66%;
  }
}

/*  -- proposition koloina */
@layer base {
  :root {
    --background: oklch(19.3% 0.119 249.55);
    --foreground: oklch(77.6% 0.081 246.03);
    --muted: oklch(29.6% 0.024 249.26);
    --muted-foreground: oklch(62.9% 0.027 249.03);
    --popover: oklch(14.3% 0.114 249.8);
    --popover-foreground: oklch(88.6% 0.085 245.8);
    --card: oklch(16.8% 0.117 249.69);
    --card-foreground: oklch(83.1% 0.083 245.9);
    --border: oklch(33.5% 0.094 249.56);
    --input: oklch(39.1% 0.104 249.51);
    --primary: oklch(85.3% 0.151 245.8);
    --primary-foreground: oklch(27.7% 0.073 245.72);
    --secondary: oklch(30.2% 0.062 245.87);
    --secondary-foreground: oklch(82.4% 0.036 245.8);
    --accent: oklch(45.1% 0.117 249.45);
    --accent-foreground: oklch(81% 0.082 249.57);
    --destructive: oklch(63.1% 0.215 26.77);
    --destructive-foreground: oklch(100% 0 0);
    --ring: oklch(85.3% 0.151 245.8);
    --chart-1: oklch(85.3% 0.151 245.8);
    --chart-2: oklch(30.2% 0.062 245.87);
    --chart-3: oklch(45.1% 0.117 249.45);
    --chart-4: oklch(33.2% 0.067 245.7);
    --chart-5: oklch(85.6% 0.157 245.91);
    --radius: 0.5rem;
  }

  .dark {
    --background: 207 95% 8%;
    --foreground: 201 83% 81%;
    --muted: 207 12% 15%;
    --muted-foreground: 207 12% 65%;
    --popover: 207 95% 5%;
    --popover-foreground: 201 83% 91%;
    --card: 207 95% 6%;
    --card-foreground: 201 83% 86%;
    --border: 207 85% 13%;
    --input: 207 85% 16%;
    --primary: 205 85% 78%;
    --primary-foreground: 205 85% 18%;
    --secondary: 205 30% 25%;
    --secondary-foreground: 205 30% 85%;
    --accent: 207 95% 23%;
    --accent-foreground: 207 95% 83%;
    --destructive: 8 91% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 205 85% 78%;
    --chart-1: 205 85% 78%;
    --chart-2: 205 30% 25%;
    --chart-3: 207 95% 23%;
    --chart-4: 205 30% 28%;
    --chart-5: 205 88% 78%;
  }
}
