@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: oklch(23.503% 0.00003 271.152);
  --foreground: oklch(77.6% 0.081 246.03);
  --muted: oklch(29.6% 0.024 249.26);
  --muted-foreground: oklch(62.9% 0.027 249.03);
  --popover: oklch(14.3% 0.114 249.8);
  --popover-foreground: oklch(88.6% 0.085 245.8);
  --card: oklch(16.8% 0.117 249.69);
  --card-foreground: oklch(83.1% 0.083 245.9);
  --border: oklch(33.5% 0.094 249.56);
  --input: oklch(39.1% 0.104 249.51);
  --primary: oklch(64.519% 0.27384 334.324);
  --primary-foreground: oklch(27.7% 0.073 245.72);
  --secondary: oklch(30.2% 0.062 245.87);
  --secondary-foreground: oklch(82.4% 0.036 245.8);
  --accent: oklch(45.1% 0.117 249.45);
  --accent-foreground: oklch(81% 0.082 249.57);
  --destructive: oklch(63.1% 0.215 26.77);
  --destructive-foreground: oklch(100% 0 0);
  --ring: oklch(85.3% 0.151 245.8);
  --chart-1: oklch(85.3% 0.151 245.8);
  --chart-2: oklch(30.2% 0.062 245.87);
  --chart-3: oklch(45.1% 0.117 249.45);
  --chart-4: oklch(33.2% 0.067 245.7);
  --chart-5: oklch(85.6% 0.157 245.91);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --cl-neon-color: #e720cf;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(19.3% 0.119 249.55);
  --foreground: oklch(77.6% 0.081 246.03);
  --muted: oklch(29.6% 0.024 249.26);
  --muted-foreground: oklch(62.9% 0.027 249.03);
  --popover: oklch(14.3% 0.114 249.8);
  --popover-foreground: oklch(88.6% 0.085 245.8);
  --card: oklch(16.8% 0.117 249.69);
  --card-foreground: oklch(83.1% 0.083 245.9);
  --border: oklch(33.5% 0.094 249.56);
  --input: oklch(39.1% 0.104 249.51);
  --primary: oklch(64.519% 0.27384 334.324);
  --primary-foreground: oklch(27.7% 0.073 245.72);
  --secondary: oklch(30.2% 0.062 245.87);
  --secondary-foreground: oklch(82.4% 0.036 245.8);
  --accent: oklch(45.1% 0.117 249.45);
  --accent-foreground: oklch(81% 0.082 249.57);
  --destructive: oklch(63.1% 0.215 26.77);
  --destructive-foreground: oklch(100% 0 0);
  --ring: oklch(85.3% 0.151 245.8);
  --chart-1: oklch(85.3% 0.151 245.8);
  --chart-2: oklch(30.2% 0.062 245.87);
  --chart-3: oklch(45.1% 0.117 249.45);
  --chart-4: oklch(33.2% 0.067 245.7);
  --chart-5: oklch(85.6% 0.157 245.91);
  --radius: 0.5rem;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-Black.eot");
    src: url("/fonts/BarlowSemiCondensed-Black.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-Black.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-BlackItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-BlackItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-BlackItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-Bold.eot");
    src: url("/fonts/BarlowSemiCondensed-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-Bold.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-BoldItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-BoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-BoldItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-ExtraBoldItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-ExtraBoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-ExtraBoldItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed ExLight";
    src: url("/fonts/BarlowSemiCondensed-ExtraLight.eot");
    src: url("/fonts/BarlowSemiCondensed-ExtraLight.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-ExtraLight.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed ExLight";
    src: url("/fonts/BarlowSemiCondensed-ExtraLightItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-ExtraLightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-ExtraLightItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-ExtraBold.eot");
    src: url("/fonts/BarlowSemiCondensed-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-ExtraBold.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-LightItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-LightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-LightItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-Italic.eot");
    src: url("/fonts/BarlowSemiCondensed-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-Italic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-Light.eot");
    src: url("/fonts/BarlowSemiCondensed-Light.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-Light.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-MediumItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-MediumItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-MediumItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-Medium.eot");
    src: url("/fonts/BarlowSemiCondensed-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-Medium.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-SemiBold.eot");
    src: url("/fonts/BarlowSemiCondensed-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-SemiBold.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-Regular.eot");
    src: url("/fonts/BarlowSemiCondensed-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-Regular.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-SemiBoldItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-SemiBoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-SemiBoldItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-Thin.eot");
    src: url("/fonts/BarlowSemiCondensed-Thin.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-Thin.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow Semi Condensed";
    src: url("/fonts/BarlowSemiCondensed-ThinItalic.eot");
    src: url("/fonts/BarlowSemiCondensed-ThinItalic.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BarlowSemiCondensed-ThinItalic.woff2") format("woff2"),
      url("/fonts/BarlowSemiCondensed-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
}
h1,
h2,
h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
}
@layer utilities {
  .neon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: var(--cl-neon-color) 0.125em solid;
    /* text-shadow: 0 0 0.2em #fff7, 0 0 0.3em var(--cl-neon-color); */
    box-shadow: inset 0 0 0.5em var(--cl-neon-color),
      0 0 0.5em var(--cl-neon-color);
    transition: 0.5s;
    background: #3b3b5b;
    color: var(--cl-neon-color);
  }
  .neon:hover {
    background: #3b3b5b;
  }
  .neon::before,
  .neon-inactif::before {
    content: "";
    position: absolute;
    top: 124%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--cl-neon-color);
    transform: perspective(0.2em) rotateX(10deg) scale(1.3, 0.4);
    filter: blur(0.8em);
    opacity: 0.6;
    pointer-events: none;
    transition: opacity 100ms linear;
  }

  .neon::after,
  .neon-inactif::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cl-neon-color);
    box-shadow: 0 0 2em var(--cl-neon-color);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  .neon-inactif {
    position: relative;
    color: var(--cl-neon-color);
  }
  .neon-inactif::after,
  .neon-inactif::before {
    opacity: 0;
    transition: all 0.5s;
  }
  .neon-inactif:hover::before,
  .neon-inactif:hover::after {
    opacity: 1;
    transition: all 0.5s;
  }
  .neon:hover::after {
    opacity: 1;
  }
  /* .neon:hover,
  .neon:focus {
    color: white;
  } */
  .neon:hover::before {
    opacity: 0.8;
  }

  .bg-glass {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 24px;
    border: 1.5px solid #9e9e9e;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(4px);
    padding: 27px 27px;
  }
}
